.img-container{
    width:100vw;
    height:100vh;
    min-width: 100%;
    overflow:hidden

}

.img-show{
    width:100vw;
    height:100vh;
    object-fit: cover;
    min-width: 100%;
    animation: zoomIn 8s ease-in-out;
}

.overlay-container{
    background-color: rgba(0,0,0,0.4);
    top:0;
    height:100vh;
    position: absolute;
    display: flex;
    align-items: center;
    p{
        margin-left:120px;
        color:white;
        font-size: 80px;
        max-width: 800px;
        border-left:solid 10px rgb(105, 183, 145);
        padding-left:32px;
        
    }
}

.fadeIn{
    animation: fadeInAnimation 1.2s ease-in-out;
}

@keyframes zoomIn {
    from  {
         transform: scale(1.0)
    }
    to{ 
         transform:scale(1.2)
    }
}

@keyframes fadeInAnimation {
    from  {
        opacity: 0;
        transform: translateY(20px)
    }
    to{ 
        opacity: 1;
        transform:translateY(0);
    }
}